/.metadata
/Build
/Instrumented
/Cesium-*.zip
/web.config
.DS_Store
Thumbs.db




/Debug
/Release
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.orig
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
/TestResults
/TestResults
/TestResults/CDO.BaiJuyi.TE.Tests.mdf
/TestResults/CDO.BaiJuyi.TE.Tests_log.ldf
TestResults/CDO.BaiJuyi.TE.Tests.mdf
TestResults/CDO.BaiJuyi.TE.Tests_log.ldf
/bin
/data
/lib
/lib
/data
/libexec
/doc
/MacOS
/Mod1
/Resources
*.pyc
/Mod/Arch
/Mod/Draft
/Mod/Drawing
/Mod/FreeCAD_assembly2
/Mod/Import
/Mod/Part
/Mod/Start
/Mod/setup.py
/Mod/CDO3D.egg-info
/Mod/dist
